<div *ngIf="analysisResult" class="summary-container">
  <div *ngIf="analysisResult.position > 100" class="summary-under100">
    Pozycja <strong>{{ analysisResult.position }}</strong>, do <strong>100</strong> miejsca brakuje
    <strong>{{ analysisResult.missingTo100 }}</strong> {{ analysisResult.missingTo100 | votes }}
  </div>

  <div *ngIf="analysisResult.position <= 100" class="summary-over100">
    Pozycja {{ analysisResult.position }}
  </div>

  <a
    class="summary-container-voteLink"
    href="https://www.rossmann.pl/czysciochowe-przedszkole/publiczne-przedszkole-cogito,249" target="_blank">&#8594; Przejdź do głosowania &#8592;</a>

</div>
